<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            oracle.jdbc.OracleDriver
        </property>
        <property name="hibernate.connection.url">
            jdbc:oracle:thin:@//localhost:1521/XE
        </property>
        <property name="hibernate.connection.username">
            Sergey
        </property>
        <property name="hibernate.connection.password">
            1234
        </property>
        <property name="hibernate.default_schema">
            Sergey
        </property>
        <property name="hibernate.connection.pool_size">
            10
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.OracleDialect
        </property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">
            true
        </property>
        <mapping resource="Category.hbm.xml"/>
        <mapping resource="Booking.hbm.xml" />
        <mapping resource="Event.hbm.xml" />
        <mapping resource="PaymentMethod.hbm.xml" />
        <mapping resource="Performance.hbm.xml" />
        <mapping resource="Property.hbm.xml" />
        <mapping resource="Seat.hbm.xml" />
        <mapping resource="Status.hbm.xml" />
        <mapping resource="Ticket.hbm.xml" />
        <mapping resource="TicketsPrice.hbm.xml" />
        <mapping resource="User.hbm.xml" />
    </session-factory>
</hibernate-configuration>