#body{
	background: #e2e5de; 
	padding:0;
}
/* USER NAV */
#user-nav{
	margin-top: 10px;
	margin-bottom: 5px;
}
#user-nav form{
	margin:0;
}
#user-nav input[type="text"]{
	height: 11px;
}
#user-nav .btn {
padding: 1px 12px;
font-size: 11px;
line-height: 18px;
}
#user-nav li{
	font-size: 11px;
	line-height: normal;
	display:inline;
	border-right: solid 1px #10448b;
	margin: 0 0.75em 0 0;
	padding: 0 0.75em 0 0;
}
		   
#user-nav ul{
	margin: 0 0 0 25px;
}

/* CAROUSEL */
#mySlider .item {
    height: 361px;
}
#mySlider img {
    height: 286px;
}
#mySlider .carousel-control {
	position: absolute;
	top: 20%;
     height: 80px;
     margin-top: 0;
     font-size: 120px;
     text-shadow: 0 1px 1px rgba(0,0,0,.4);
     background-color: transparent;
     border: 0;
     z-index: 10;
}
#mySlider .carousel-indicators{
position: absolute;
top: 285px;
right: 460px;
}

.masthead{
	background: #fff;  
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 30px;
	padding-top: 10px;
}
		  
.contentWrapper {
	padding: 20px;
	float: left;
	clear: both;
	background: #fff;
	position: relative;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* PERFORMANCE LIST */
#performanceList h3{
	margin: 0;
}
#performanceList .row{
margin-bottom:30px;
}
.perf-text{
	margin-left: 35px;
}

/* TABLES */

th {
    background-color: #656565;
    font-weight: normal;
    font-size: 15px;
    padding: 0 10px;
    color: #fff;
    text-shadow:#414141 0 1px 0px;
    line-height: 40px;
}

/* FORMS */
.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
 .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
